
body {
    font-family: arial;
    margin: 25px;
    background-color: lightgrey;
}

#container {
    vertical-align: middle;
}

#sketchPadDiv {
    font-size: 1px;
    /* margin: 0 auto; */
}

#pixel {
    width: 10px;
    height: 10px;
    background-color: grey;
    display: inline-block;
    vertical-align: top;
}

button {
    margin-bottom: 10px;
}

label {
    font-size: 12px;
}
